

h1[class = 'naslov'] {
    font-family: monospace;
    height: 400;
    font-size: 50px;
}
body{
    background: linear-gradient(to right ,#ee1111, #eeee11, #11ee11, #11eeee, #1111ee, #ee11ee, #ee1111);   
}

input[class=big_box] {
    padding: 25px 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 47, 47);
    border-radius: 14px;
    border: silver solid 1px; 
    width: 1000px;
    height: 400px;
    font-family: monospace;
}

.lil-box {
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 14px;
    border: silver solid 2px; 
    width: 150px;
    height:50px;
    margin: 30px;
    border-color: black;
    font-family: monospace;
}

.timer {
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 14px;
    border: silver solid 2px; 
    width: 150px;
    height:50px;
    margin: 30px;
    border-color: black;
    font-family: monospace;
}


.go_back{
    width: 140px;
    height: 70px;
    font-family:Space Grotesk Space Grotesk;
    font-size: 20px;
    border-radius: 14px;
    background: transparent;
    border-color: #6570f0;
    border: black solid 2px;
    margin: 10px;
}

button[type="button"]:active {
    background-color: #6570f0;
}
button[type="button"]:hover {
    background-color: #f06565;
    transform: translate(-20px);

}

